# Lines starting with '#' are considered comments.
# pycache files.
*.pyc
# Ignore mypy folder
.mypy_cache/*
.vs/*
.vscode/*
.spyproject
CodeGraphData
__pycache__
*.sln
*.pyproj*
*.pyproj
*.sln
*.code-workspace
GUI_Management/GUI Management.code-workspace
*.vs
