# Lines starting with '#' are considered comments.
# pycache files.
*.pyc
# Ignore mypy folder
.mypy_cache/*
.vs/*
.vscode/*
CodeGraphData
__pycache__
*.sln
*.pyproj*
*.pyproj
*.sln
*.code-workspace
GUI_Management/GUI Management.code-workspace
/GUI_Management/.vs/GUI_Management/v16/.suo
/GUI_Management/.vs/slnx.sqlite
/GUI_Management/.vs/VSWorkspaceState.json
